.img-small {
    width: 100px;
    height: 100px;
}

/* In your stylesheet (carrinhoTeste.css or similar) */
.product-info {
    line-height: 1.2; /* Or any value you prefer */
    margin-bottom: 0; /* Remove any bottom margin that might be adding space */
}

.product-info {
    font-size: 1rem;
    color: #333;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.btn-outline-secondary {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-link {
    color: #6c757d;
}





