body{
  margin: 0;
  padding: 0;
  overflow: auto;
  align-items: center;
}

header{
  display: flex;
  margin-left: auto;
}
.left{
  width: 50%;
  display: flex;
  align-items: center;
}
.left a{
width: 20%;
}

.left form{
  flex: 1;
  
}
.right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container ul{
  align-items: center;
}



.d-flex{

}

#containerHeroe{
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: center;
  background-color: #EEF2FF;
  width: 100%;
}

.esqHeroe{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botoesHeroes{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.dirHeroe{
  width: 50%;
  display: flex;
  justify-content: center;
}
.dirHeroe img{
  position: absolute;
  height: 50vh;
  border-radius:7px;
  margin-top: 20px;
}

#prodDestaques{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  text-align: center;
}

.containerDestaques{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.boxItem{
  width: 15em;
  height: 25em;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-around;
  border-radius: 15px;
  padding-bottom: 20px;
}

.boxItem .boxItemDescription{
  line-height: 10px;
}

.boxItem .boxItemImg{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.boxItem .boxItemFooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxItemLink{
  text-decoration: none;
  color: black;
  transition: transform 1s;
}

.boxItemLink:hover{
  transform: scale(1.1);
  
}

#containerFeedbacks{
  display:flex;
  margin-top: 5em;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#containerFeedbacks > h2{
  margin-bottom: 5vh;
}
#containerFeatures{
  width: 100%;
  margin: 0;
  margin-top:20px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#featureImagem{
  width: 100%;
  justify-content: center;
}
.featureImg{
  padding: 20px;
  background-color: #c3d1ff;
  border-radius: 100%;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 20px 0 ;
  background-color: #111827;
  margin-top: 5em;
  position: static;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

#containerFooter{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#containerFooter li{
  list-style: none;
}
hr{
  width: 100%;
}

.divFooter1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color:white;
}

.divFooter{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
  color:white;
}

.divFooter a{
  text-decoration: none;
  color: gray;
}
footer p {
  color: gray;
}
.social{
  display: flex;
  gap: 15px;
}
.social img{
  width: 20px;
  height: 20px;
}

#contactos{
  color: white;
}

#contactos a{
  text-align: center;
  text-decoration: none;
  color: gray;
}

#contactos li{
  list-style: none;
}

